<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Publications</title>
    <%- include("./partials/head") %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      crossorigin="anonymous"
    />
    <%- include("./partials/publicationsStyles") %>
  </head>
  <body>
    <%- include("./partials/navBar") %>
    <div
      class="p-3 d-flex justify-content-center"
      style="background-color: #2b3035"
    >
      <!-- Search Container -->
      <div id="search-section">
        <form action="/publications/search-by-title" method="GET">
          <div class="search-container d-flex align-items-center me-3">
            <input
              type="text"
              id="title"
              name="title"
              class="p-2 search-box"
              style="
                min-width: 40rem;
                border-radius: 5px 0px 0px 5px;
                border: none;
              "
              placeholder="Search For Publications..."
              autocomplete="off"
              oninput="fetchSuggestions()"
            />
            <button
              type="submit"
              class="btn btn-primary px-3 py-2"
              style="border-radius: 0px 5px 5px 0px"
            >
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </div>

      <!-- New Div (Initially Hidden) -->
      <div id="filter-section" class="hidden">
        <form action="/publications" method="GET">
          <div class="d-flex gap-3 me-3">
            <select name="year" class="filter-dropdown">
              <option selected disabled>Select Year</option>
              <option>All</option>
              <% if (locals.distinctYears) { %> <% distinctYears.forEach(year =>
              { %>
              <option><%= year %></option>
              <% }); %> <% } %>
            </select>

            <select name="journal" class="filter-dropdown">
              <option selected disabled>Select Journal</option>
              <option>All</option>
              <% if (locals.distinctJournals) { %> <%
              distinctJournals.forEach(journal => { %>
              <option><%= journal %></option>
              <% }); %> <% } %>
            </select>

            <select name="author" class="filter-dropdown">
              <option selected disabled>Select Author</option>
              <option>All</option>
              <% if (locals.distinctAuthors) { %> <%
              distinctAuthors.forEach(author => { %>
              <option><%= author %></option>
              <% }); %> <% } %>
            </select>

            <button
              type="submit"
              class="btn btn-warning px-3 py-2 filter-btn"
              style="border-radius: 5px"
            >
              <i class="fa-solid fa-sort fs-5"></i>
            </button>
          </div>
        </form>
      </div>

      <!-- Filter Button -->
      <button
        type="button"
        class="btn btn-outline-light px-3 py-2 filter-btn"
        onclick="toggleSearchContainer()"
      >
        <i class="fa-solid fa-filter"></i>
      </button>

      <!-- Suggestions Box -->
      <div
        id="suggestions"
        class="list-group position-absolute bg-white shadow-lg rounded"
        style="
          overflow: hidden;
          z-index: 1000;
          max-width: 40.5rem;
          margin-top: 3.25rem;
          margin-right: 7.25rem;
        "
      ></div>
    </div>

    <div class="container mt-4">
      <% if (locals.publications && publications.length > 0) { %>
      <h1 class="display-4 fw-bold text-center text-primary">Publications</h1>
      <p class="lead text-muted text-center" style="font-size: 1.75rem">
        Explore our latest research contributions
      </p>
      <% } else { %>

      <h1 class="display-4 my-3 fw-bold text-center text-danger">
        No Publications Available
      </h1>
      <div class="my-5">
        <p class="lead text-muted text-center" style="font-size: 1.75rem">
          We couldn't find any publications at the moment.
        </p>
        <p class="lead text-muted text-center" style="font-size: 1.75rem">
          Try adjusting your filters or check back later for new updates.
        </p>
      </div>
      <p class="lead text-muted text-center" style="font-size: 1.75rem">
        If you believe this is an error, please
        <a href="/contact_us" class="text-primary">contact support</a>.
      </p>
      <% } %>

      <div class="row row-cols-3 g-4 mb-4">
        <% if (locals.publications && publications.length > 0) { %> <%
        publications.forEach(publication => { %>
        <div class="col">
          <div
            class="card h-100 shadow-lg border-0 rounded"
            style="background-color: #f9f9f9"
          >
            <div class="card-body">
              <h5 class="card-title text-dark fw-bold">
                <span style="color: #4da3ff"
                  ><%= publication.doc_number %>.</span
                >
                <%= publication.title %>
              </h5>
              <p class="card-text text-muted mb-1">
                <strong>Author(s):</strong> <%= publication.author %>
              </p>
              <p class="card-text text-muted mb-1">
                <strong>Year:</strong> <%= publication.year %>
              </p>
              <p class="card-text text-muted">
                <strong>Journal:</strong> <%= publication.journal %>
              </p>
            </div>
            <div class="card-footer text-center">
              <a
                href="<%= publication.journal_link %>"
                target="_blank"
                class="btn btn-primary btn-sm"
                >Read More</a
              >
            </div>
          </div>
        </div>
        <% }) %> <% } %>
      </div>
    </div>

    <%- include("./partials/footer") %> <%- include("./partials/script") %> <%-
    include("./partials/ajaxScript")%> <%-
    include("./partials/dropdownScript")%> <%-
    include("./partials/toggleSearchScript")%>
  </body>
</html>
